* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: #EFEBE7;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 2.8rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    margin: 0px 0px 10px;
    text-decoration: none;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    margin: 0px 0px 5px;
    font-weight: bold;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 10px 0px;
}


h4 {
    color: black;
    background-color: transparent;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 5px;
    font-style: italic;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: #3A414A;
}


/**** HEADER ****/
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100px;
}

header img {
    width: 390px;
    margin: 5px;
}

/** NAV **/
.hidden {
    transform: translateX(100%);
    opacity: 0;
}

#menuknap {
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 10px;
    top: 17px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    line-height: 1;
}

#menu {
    padding: 0;
    list-style-type: none;
    transition: all .3s;
    position: absolute;
    right: 0px;
    top: 100px;
    margin: 0;
}

header li {
    width: 100vw;
    background-color: #3A414A;
    text-align: center;
}

header li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2.4;
    text-transform: uppercase;
}

header li a:hover {
    color: #CEBBAD;
}

.selected {
    color: #CEBBAD;
}


/**** FOOTER ****/
footer {
    border-top: 6px solid #CEBBAD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3A414A;
    height: 150px;
    width: 100%;
    padding: 20px;
    color: white;
}

footer p {
    margin: 0 0 5px 0;
}

footer a {
    color: white;
}

#footer_2 img {
    margin: 30px 5px;
    width: 50px;
    transition: all 0.5s ease;
}

#footer_2 img:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

/**** FORSIDE CSS ****/

#velkommen {
    margin: 0 auto;
    max-width: 1000px;
}

#velkommen .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-between;
}

#velkommen .txt {
    /* child flex */
    flex-grow: 1;
    flex-basis: 400px;
    padding: 50px;
}

#velkommen .image {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 50px;
}


/**** PORTFOLIO CSS ****/

#portfolio {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 450px;
    background-color: #EFEBE7;
}

#portfolio .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    justify-content: space-between;
}

#portfolio p {
    text-align: center;
    margin: 20px 0px 30px;
}

.col {
    flex-grow: 1;
    flex-basis: 200px;
    margin-bottom: 90px;
    width: 30vw;
    height: 40vw;
    margin-left: 20px;
    position: relative;
}

.caption {
    position: absolute;
    top: 40vw;
}

.col:nth-child(1) {
    background-image: url(billeder/stilart.png);
    background-size: cover;
    background-position: 70% 0;
}

.col:nth-child(2) {
    background-image: url(billeder/klip.png);
    background-size: cover;
    background-position: 50%0;
}

.col:nth-child(3) {
    background-image: url(billeder/kgb.png);
    background-size: cover;
    background-position: 50%0;
}

.col:nth-child(4) {
    background-image: url(billeder/dokumentation.png);
    background-size: cover;
    background-position: 50% 0;
}

.col:nth-child(5) {
    background-image: url(billeder/spil1.png);
    background-size: cover;
    background-position: 50% 0;
}

.col:nth-child(6) {
    background-image: url(billeder/spil3.png);
    background-size: cover;
    background-position: 55% 0;
}

.col:nth-child(7) {
    background-image: url(billeder/fronter.png);
    background-size: cover;
    background-position: 50%0;
}

.col:nth-child(8) {
    background-image: url(billeder/keaweb.png);
    background-size: cover;
    background-position: 50%0;
}

.col:nth-child(9) {
    background-image: url(billeder/kealife.png);
    background-size: cover;
    background-position: 70%0;
}

.col a {
    transition: all 0.5s ease;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    text-decoration: none;
    color: white;
    background-color: #3A414A;
    padding: 10px 10px 10px 10px;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1rem;
}

.col a:hover {
    transform: scale(1.08);
}

/**** OM MIG CSS ****/

#mig {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#mig .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
}

#mig .txt {
    /* child flex */
    flex-grow: 1;
    flex-basis: 400px;
    padding: 50px;
}

#mig .image {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 50px;
    margin-top: 10px;
}


/**** STILARTSIDE CSS ****/

#stilartside {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#stilartside h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#stilartside .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#stilartside .om {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


#stilartside .billede1 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#stilartside .billede2 {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


#stilartside .billede3 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


/**** KLIPPEOPGAVE CSS ****/

#klippeopgave {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#klippeopgave h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#klippeopgave .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#klippeopgave .om {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#klippeopgave .video {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


/**** KGB CSS ****/

#kgb {
    margin: 0 auto;
    max-width: 1000px;
}

#kgb h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#kgb .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#kgb .om {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#kgb .video {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#kgb .billede2 {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#kgb .billede3 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


/**** DOKUMENTATION CSS ****/

#dokumentation {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#dokumentation h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#dokumentation .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#dokumentation .om {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#dokumentation .billede1 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#dokumentation .billede2 {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#dokumentation .billede3 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}


/**** SPIL1 CSS ****/

#spil1 {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#spil1 h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#spil1 .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#spil1 .om {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#spil1 .billede1 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#spil1 .billede2 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#spil1 .billede3 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

/**** SPIL2 CSS ****/

#spil2 {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#spil2 h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#spil2 .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#spil2 .om {
    /* child flex */
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#spil2 .billede1 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#spil2 .billede2 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#spil2 .billede3 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

/**** FRONTER CSS ****/

#fronter {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#fronter h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#fronter .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#fronter .om {
    /* child flex */
    flex-grow: 2;
    flex-basis: 600px;
    padding: 20px;
}

#fronter .billede1 {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
}

#fronter .billede2 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#fronter .billede3 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#fronter .prototype {
    padding: 0px 20px 40px;
}


/**** PROTOTYPE CSS ****/

#prototype {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#prototype h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#prototype .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#prototype .om {
    /* child flex */
    flex-grow: 2;
    flex-basis: 600px;
    padding: 20px;
}

#prototype .billede1 {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
}

/**** LIFE CSS ****/

#life {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#life h1 {
    text-align: center;
    margin: 30px 10px 10px;
}

#life .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#life .om {
    /* child flex */
    flex-grow: 2;
    flex-basis: 600px;
    padding: 20px;
}

#life .billede1 {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
}

#life .billede2 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#life .billede3 {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 20px;
}

#life .prototype {
    padding: 0px 20px 40px;
}


/** TABLET MEDIA QUERY **/
@media only screen and (min-width: 640px) {
    #portfolio {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        max-width: 1000px;
        background-color: #EFEBE7;
    }

    #portfolio .sectionwrapper {
        /* parent flex */
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0px;
        justify-content: space-between;
    }

    .col {
        flex-grow: 1;
        flex-basis: 300px;
        margin-bottom: 80px;
        width: 20vw;
        height: 20vw;
        margin-left: 20px;
        position: relative;
    }

    .col a {
        transition: all 0.5s ease;
        position: absolute;
        bottom: 1vw;
        right: 1vw;
        text-decoration: none;
        color: white;
        background-color: #3A414A;
        padding: 10px 20px 10px 20px;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
    }

    .col a:hover {
        transform: scale(1.08);
    }

    .caption {
        position: absolute;
        top: 20vw;
    }

    #portfolio h4 {
        color: black;
        background-color: transparent;
        font-size: 0.8rem;
        font-family: 'Montserrat', sans-serif;
        padding: 5px;
        font-style: italic;
    }
}

@media only screen and (min-width: 750px) {

    header {
        flex-direction: column;
        height: 240px;
    }

    header li {
        width: 100vw;
        background-color: transparent;
        margin: 10px;
    }

    header li a {
        padding: 0;
        font-size: 1.3rem;
        background-color: transparent;
        color: black;
    }

    header li a:hover {
        color: #3A414A;
        font-size: 1.4rem;
    }

    .selected {
        color: #3A414A;
        font-size: 1.4rem;
    }

    header img {
        width: 700px;
        height: 30vh;
        margin: 5px 5px 10px;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline;
        background-color: transparent;
    }

    #menu {
        top: -50px;
        position: relative;
    }
}

/** DESKTOP MEDIA QUERY **/
@media only screen and (min-width: 885px) {
    header li a {
        padding: 0;
        margin: 0 20px;
        font-size: 1.3rem;
    }

    header img {
        width: 900px;
        height: 30vh;
        margin: 5px 5px 10px;
    }
}
