* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: #EFEBE7;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 2.8rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: black;
    margin-top: 0;
    text-decoration: none;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    margin: 10px 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/**** HEADER ****/
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100px;
}

header img {
    width: 390px;
    margin: 5px;
}

/** NAV **/
.hidden {
    transform: translateX(100%)
}

#menuknap {
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 10px;
    top: 17px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    line-height: 1;
}

#menu {
    padding: 0;
    list-style-type: none;
    transition: all .3s;
    position: absolute;
    right: 0px;
    top: 100px;
    margin: 0;
}

header li {
    width: 100vw;
    background-color: floralwhite;
    text-align: center;
    margin: 5px 0px;
}

header li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2.4;
    text-transform: uppercase;
}

header li a:hover {
    color: #3A414A;
    font-size: 1.2rem;
}

.selected {
    color: #3A414A;
    font-size: 1.2rem;
}

#splash {
    width: 100vw;
    height: 100vh;

    background-image: url(billeder/splash3.png);
    background-size: cover;
    background-position: 45% 0%;
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*    opacity: 0.8;      HJÆLP!!!      */
}

#splash_div {
    padding: 0 0 0 0;

}

/**** FORSIDE: VELKOMMEN CSS ****/
img {
    width: 100%;
}

#velkommen {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#velkommen .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}


#velkommen .txt {
    /* child flex */
    flex-grow: 1;
    flex-basis: 400px;
    padding: 50px;
}


#velkommen .image {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 50px;
}


/**** FOOTER ****/
footer {
    border-top: 6px solid #CEBBAD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3A414A;
    height: 150px;
    width: 100%;
    padding: 20px;
    color: white;
}

footer p {
    margin: 0 0 5px 0;
}

footer a {
    color: white;
}

#footer_2 img {
    margin-top: 30px;
    width: 50px;
    transition: all 0.5s ease;
}

#footer_2 img:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

/**** PORTFOLIO CSS ****/

#portfolio {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #EFEBE7;
}

#portfolio .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}

#portfolio p {
    text-align: center;
    margin: 50px 0px 30px;
}

.col {
    flex-grow: 1;
    flex-basis: 200px;
    margin-bottom: 20px;
    max-width: 20vw;
    height: 40vw;
    margin-left: 20px;
    position: relative;
}

.col:nth-child(1) {
    background-image: url(billeder/stilart.png);
    background-size: cover;
    background-position: 70% 0;
}

.col:nth-child(2) {
    background-image: url(billeder/dokumentation.png);
    background-size: cover;
    background-position: 50% 0;
}

.col:nth-child(3) {
    background-image: url(billeder/spil1.png);
    background-size: cover;
    background-position: 50% 0;
}

.col:nth-child(4) {
    background-image: url(billeder/spil3.png);
    background-size: cover;
    background-position: 55% 0;
}

.col:nth-child(5) {
    background-image: url(billeder/kgb.png);
    background-size: cover;
    background-position: 50%0;
}

.col:nth-child(6) {
    background-image: url(billeder/fronter.png);
    background-size: cover;
    background-position: 50%0;
}

.col:nth-child(7) {
    background-image: url(billeder/keaweb.png);
    background-size: cover;
    background-position: 50%0;
}

.col:nth-child(8) {
    background-image: url(billeder/kealife.png);
    background-size: cover;
    background-position: 70%0;
}


.col a {
    transition: all 0.5s ease;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    text-decoration: none;
    color: white;
    background-color: #3A414A;
    padding: 10px 10px 10px 10px;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1rem;
}

.col a:hover {
    transform: scale(1.08);
}

/**** OM MIG CSS ****/

#mig {
    margin: 0 auto;
    max-width: 1000px;
    background-color: #EFEBE7;
}

#mig .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: space-between;
}


#mig .txt {
    /* child flex */
    flex-grow: 1;
    flex-basis: 400px;
    padding: 50px;
}


#mig .image {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 50px;
    margin-top: 10px;
}


/** TABLET MEDIA QUERY **/
@media only screen and (min-width: 640px) {
    #portfolio {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        background-color: #EFEBE7;
    }

    #portfolio .sectionwrapper {
        /* parent flex */
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        justify-content: space-between;
    }

    .col {
        flex-grow: 1;
        flex-basis: 300px;
        margin-bottom: 20px;
        width: 20vw;
        height: 20vw;
        margin-left: 20px;
        position: relative;
    }

    .col a {
        transition: all 0.5s ease;
        position: absolute;
        bottom: 1vw;
        right: 1vw;
        text-decoration: none;
        color: white;
        background-color: #3A414A;
        padding: 10px 20px 10px 20px;
        font-size: 1.3rem;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
    }

    .col a:hover {
        transform: scale(1.08);
    }

    @media only screen and (min-width: 750px) {

        header {
            /*        position: absolute;*/
            flex-direction: column;
            height: 155px;
        }

        header li {
            width: 100vw;
            background-color: transparent;
            margin: 10px;
        }

        header li a {
            /*        position: relative;*/
            padding: 0;
            font-size: 1.3rem;
            background-color: transparent;
        }

        header img {
            /*        position: relative;*/
            width: 550px;
            margin: 5px 5px 10px;
        }


        #menuknap {
            display: none;
        }

        #menu.hidden {
            transform: translateX(0);
            opacity: 1;
        }

        #menu li {
            display: inline;
            background-color: transparent;
        }

        #menu {
            top: -10px;
            position: relative;
        }


        /** DESKTOP MEDIA QUERY **/
        @media only screen and (min-width: 885px) {
            header li a {
                padding: 0;
                margin: 0 20px;
                font-size: 1.3rem;
            }


            /*PROBLEMER:
        Opacity på splashbilledet
        Logo og menu skal stå i midten ved 750px*/
