* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: floralwhite;
    margin: 0;
    height: 100%;
}

h1 {
    font-size: 2.8rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: black;
    margin-top: 0;
    text-decoration: none;
}

a h1 {
    text-decoration: none;
}

/**** HEADER ****/
header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    color: black;
}

header img {
    position: absolute;
    width: 370px;
    margin: 5px;
}

/** NAV **/
.hidden {
    transform: translateX(100%)
}

#menuknap {
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 30px;
    top: 20px;
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    line-height: 1;
}

#menu {
    padding: 0;
    list-style-type: none;
    transition: all .3s;
    position: absolute;
    right: 0;
    top: 110px;
    margin: 0;
}

header li {
    width: 100vw;
    background-color: whitesmoke;
    text-align: right;
    margin: 0;
}

header li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: whitesmoke;
    padding: 10px 20px 10px 100px;
    line-height: 2.4;
    text-transform: uppercase;
}

header li a:hover {
    color: gray;
}

.selected {
    color: gray;
}

#splash {
    width: 100vw;
    height: 100vh;

    background-image: url(billeder/splash3.png);
    background-size: cover;
    background-position: 45% 0%;
    max-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*    opacity: 0.8;      HJÆLP!!!      */
}

#splash_div {
    padding: 0 0 0 0;

}

/**** FORSIDE: VELKOMMEN CSS ****/
img {
    width: 100%;
}

#velkommen {
    margin: 0 auto;
    max-width: 1000px;
    background-color: floralwhite;
}

#velkommen .sectionwrapper {
    /* parent flex */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
}


#velkommen .txt {
    /* child flex */
    flex-grow: 1;
    flex-basis: 200px;
    margin-top: 50px;
    padding: 50px;
}


#velkommen .image {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 50px;
}



/** TABLET MEDIA QUERY **/
@media only screen and (min-width: 750px) {
    header {
        position: sticky;
    }

    header li a {
        padding: 0;
        margin: 0 10px;
        font-size: 1.5rem;
        background-color: transparent;
    }

    header img {
        position: absolute;
        width: 450px;

        margin: 5px;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline;
        background-color: transparent;
    }

    #menu {
        top: 50px;
    }


    /** DESKTOP MEDIA QUERY **/
    @media only screen and (min-width: 885px) {
        header li a {
            padding: 0;
            margin: 0 20px;
            font-size: 2rem;
        }


        /*PROBLEMER:
        Opacity på splashbilledet
        Logo og menu skal stå i midten ved 750px*/
